<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
<a href="/logout">Logout</a>
<br>
<a href="/edit">Edit Profile</a>
<hr>
<img src="/public/pics/{{.ProfilePic}}" height="100px" width="100px" alt="{{.ProfilePic}}"><br>
<hr>
<h3>User Details</h3>
<p>User ID: {{.ID}}</p>
<p>Firstname: {{.Firstname}}</p>
<p>Lastname: {{.Lastname}}</p>
<p>Email: {{.Email}}</p>
<p>Password: {{.Password}}</p>
<p>Active: {{.Active}}</p>
<p>Joined Date: {{.JoinedDate}}</p>
<p>Last Active: {{.LastActive}}</p>
<hr>
</body>

</html>